/* Plugin CSS Style */
.footer-message {
	text-align: center;
	background: black;
	padding: 10px 0px;
	color: #ddd;
}
.header-message {
	text-align: center;
	background: rgb(2, 61, 156);
	padding: 10px 0px;
	color: #ddd;
}